.container {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.clear {
    clear: both;
    margin-bottom: 20px;
}
.container div[class^='cell-'] {
    float: left;
}
.container .module {
    margin: auto 10px;
}
.container .module.alpha {
    margin-left: 0;
}
.container .module.beta {
    margin-right: 0;
}
.cell-1-1 {
    width: 100%;
}
.cell-1-2 {
    width: 50%;
}
.cell-1-3 {
    width: 33.333333333333336%;
}
.cell-1-4 {
    width: 25%;
}
.cell-2-3 {
    width: 66.66666666666667%;
}
.cell-3-4 {
    width: 75%;
}